.App {

}

.App-logo {
  height: 40vmin;}

.App-header {
  background-color: #0c1536;
  min-height: 100vh;
  display: flow;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #91fdc3;;
}

.App-link {
  color: #c45148;
}