.App {
  box-sizing: border-box;
}

.App-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 40vh;
  aspect-ratio: 1/1;  

}

.App-logo img{
  height:50vh;
  clip-path: circle();
}

.App-header {
  background-color: #0c1536;
  min-height: 100vh;
  display: flow;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #91fdc3;;
}

.App-link {
  color: #c45148;
}