.App {
  box-sizing: border-box;
  padding:0;
  margin:0;

  top:0;
  left:0;

  width: 100%;
  height: 100%;
}

.App-logo {
  display: grid;
  justify-content: center;
  align-items: center;
  max-width: 50vh;
  min-width: 50vh;

}

.App-logo img{
  height:50vh;
  clip-path: circle();
}

.App-header {
  background-color: #0c1536;
  min-height: 100vh;
  display: flow;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #91fdc3;;
}

.App-link {
  color: #c45148;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  App-logo{
    display: inline-block;
    width: 100%;
  }
}